<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="/">HOME</a>
  <a class="navbar-brand">{{this.title}}</a>
  <form class="form-inline">
    <a style="margin-right: 50px !important;" class="btn btn-outline-success my-2 my-sm-0" href="/prov">Tambah Provinsi</a>
  
  </form>
</nav>